<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>

    <th:block th:each="parcel : ${firstParcels.parcels}">
        <div th:text="${parcel}"> </div>
    <th:block>
</body>
</html>
